@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 179, 100%, 92%;
    --foreground: 179, 100%, 10%;

    --card: 179, 100%, 92%;
    --card-foreground: 179, 100%, 10%;

    --popover: 179, 100%, 92%;
    --popover-foreground: 179, 100%, 10%;

    --primary: 179, 100%, 92%;
    --primary-foreground: 0, 0%, 93%;

    --secondary: 300, 100%, 100%;
    --secondary-foreground: 258, 100%, 14%;

    --muted: 258, 100%, 94%;
    --muted-foreground: 240, 3.8%, 50%;

    --accent: 179, 100%, 90%;
    --accent-foreground: 258, 100%, 30%;

    --destructive: 349, 100%, 44%;
    --destructive-foreground: 0, 0%, 93%;

    --border: 179, 100%, 95%;
    --input: 179, 100%, 95%;
    --ring: 179, 100%, 87%;
 
    --radius: 0.5rem;
  }
 
  .dark {
    --background: 204, 47%, 22%;
    --foreground: 0, 0%, 85%;

    --card: 204, 47%, 22%;
    --card-foreground: 0, 0%, 85%;

    --popover: 204, 47%, 22%;
    --popover-foreground: 0, 0%, 85%;

    --primary: 204, 47%, 22%;
    --primary-foreground: 204, 47%, 10%;

    --secondary: 253, 28%, 14%;
    --secondary-foreground: 0, 0%, 85%;

    --muted: 204, 47%, 12%;
    --muted-foreground: 240, 5%, 65%;

    --accent: 204, 47%, 24%;
    --accent-foreground: 0, 0%, 98%;

    --destructive: 349, 100%, 41%;
    --destructive-foreground: 0, 0%, 85%;

    --border: 204, 47%, 35%;
    --input: 204, 47%, 45%;
    --ring: 204, 47%, 18%;
  }
}
 
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

/*
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}*/

body {
  scrollbar-width: thin; /* "auto" or "thin" */
  scrollbar-color: rgba(0,0,0,0.15) rgba(0,0,0,0.0); /* scroll thumb and track */
}
.scrollbar {
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}
*::-webkit-scrollbar {
  width: 8px;
  background: rgba(0,0,0,0.15);
  margin: 0;
}
*::-webkit-scrollbar-button:vertical:decrement {
  background: rgba(0,0,0,0.0);
  height: 8px;
}
*::-webkit-scrollbar-button:vertical:increment {
  background: rgba(0,0,0,0.0);
  height: 8px;
}
*::-webkit-scrollbar-thumb {
  min-height: 32px;
  background: #999999;
  border-radius: 2px;
  background-clip: content-box;
}
