@tailwind base;
@tailwind components;
@tailwind utilities;

/*
COLORS
--primary: 258, 100%, 0%; // #3700b3
--secondary: 180, 99%, 0%; // #018786
*/
 
@layer base {
  :root {
    --background: 258, 100%, 97%;
    --foreground: 258, 100%, 14%;

    --card: 258, 100%, 97%;
    --card-foreground: 258, 100%, 14%;
 
    --popover: 258, 100%, 97%;
    --popover-foreground: 258, 100%, 14%;
 
    --primary: 258, 100%, 35%;
    --primary-foreground: 0, 0%, 93%;
 
    --secondary: 180, 99%, 27%;
    --secondary-foreground: 258, 100%, 14%;
 
    --muted: 258, 100%, 94%;
    --muted-foreground: 240, 3.8%, 46.1%;
 
    --accent: 258, 100%, 96%;
    --accent-foreground: 258, 100%, 30%;
 
    --destructive: 349, 100%, 35%;
    --destructive-foreground: 0, 0%, 93%;

    --border: 258, 100%, 93%;
    --input: 258, 100%, 93%;
    --ring: 258, 100%, 90%;
 
    --radius: 0.5rem;
  }
 
  .dark {
    --background: 258, 100%, 5%;
    --foreground: 0, 0%, 85%;
 
    --card: 258, 100%, 5%;
    --card-foreground: 0, 0%, 85%;
 
    --popover: 258, 100%, 5%;
    --popover-foreground: 0, 0%, 85%;
 
    --primary: 258, 100%, 47%;
    --primary-foreground: 258, 100%, 10%;
 
    --secondary: 180, 99%, 43%;
    --secondary-foreground: 0, 0%, 85%;
 
    --muted: 258, 100%, 12%;
    --muted-foreground: 240, 5%, 64.9%;
 
    --accent: 258, 100%, 10%;
    --accent-foreground: 0, 0%, 98%;
 
    --destructive: 349, 100%, 42%;
    --destructive-foreground: 0, 0%, 85%;
 
    --border: 258, 100%, 16%;
    --input: 258, 100%, 24%;
    --ring: 258, 100%, 18%;
  }
}
 
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

/*
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}*/

body {
  scrollbar-width: thin; /* "auto" or "thin" */
  scrollbar-color: rgba(0,0,0,0.15) rgba(0,0,0,0.0); /* scroll thumb and track */
}
.scrollbar {
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}
*::-webkit-scrollbar {
  width: 8px;
  background: rgba(0,0,0,0.15);
  margin: 0;
}
*::-webkit-scrollbar-button:vertical:decrement {
  background: rgba(0,0,0,0.0);
  height: 8px;
}
*::-webkit-scrollbar-button:vertical:increment {
  background: rgba(0,0,0,0.0);
  height: 8px;
}
*::-webkit-scrollbar-thumb {
  min-height: 32px;
  background: #999999;
  border-radius: 2px;
  background-clip: content-box;
}
